DATABASE_URL=postgresql://
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000/api/auth
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_HOSTNAME=http://localhost:3000
NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_MAPQUEST_KEY=

AWS_ACCESS_KEY_ID_WSC=
AWS_SECRET_ACCESS_KEY_WSC=


SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Fitlink

NEXT_PUBLIC_BETA=true


UPLOADTHING_SECRET=
UPLOADTHING_TOKEN=

# Deployment used by `npx convex dev`
CONVEX_URL=
NEXT_PUBLIC_CONVEX_URL=

# LLM_PROVIDER=gemini
LLM_PROVIDER=huggingface
GOOGLE_GEMINI_API_KEY=
HUGGINGFACE_API_KEY=
