@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@import "uploadthing/tw/v4";
@source "../../node_modules/@uploadthing/react/dist"; /** <-- depends on your project structure */

/* shadcn CSS Variables */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary-shadcn: 240 5.9% 10%;
    --primary-shadcn-foreground: 0 0% 98%;
    --secondary-shadcn: 240 4.8% 95.9%;
    --secondary-shadcn-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent-shadcn: 240 4.8% 95.9%;
    --accent-shadcn-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary-shadcn: 0 0% 98%;
    --primary-shadcn-foreground: 240 5.9% 10%;
    --secondary-shadcn: 240 3.7% 15.9%;
    --secondary-shadcn-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent-shadcn: 240 3.7% 15.9%;
    --accent-shadcn-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  html {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      Arial,
      Noto Sans,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;
  }
}

@layer components {
  h1 {
    @apply space-x-2 py-4 text-4xl font-bold text-primary;
  }
  h2 {
    @apply space-x-2 py-3 text-3xl font-bold text-primary;
  }
  h3 {
    @apply space-x-2 py-3 text-2xl font-semibold text-secondary;
  }
  h4 {
    @apply space-x-2 py-2 text-xl font-semibold text-secondary;
  }

  label.required::after {
    content: "*";
    color: red;
    font-size: 0.8em;
    padding-inline-start: 0.25em;
    align-self: start;
  }

  textarea {
    @apply textarea w-full;
  }

  select {
    @apply select w-full;
  }
}

@layer utilities {
  .pill {
    @apply flex flex-wrap items-center gap-2 border border-neutral bg-base-200 p-2 text-base-content;
    border-radius: var(--rounded-btn, 0.5rem);
  }

  .pill-xs {
    @apply px-1 py-0.5 text-xs;
  }

  .input-group {
    @apply flex gap-2 w-full items-start;
    & > input {
      @apply w-fit;
    }
  }

  .btn {
    border-start-start-radius: var(--join-ss, var(--radius-field));
    border-start-end-radius: var(--join-se, var(--radius-field));
    border-end-end-radius: var(--join-ee, var(--radius-field));
    border-end-start-radius: var(--join-es, var(--radius-field));
  }

  .collapse-arrow > .collapse-title::after {
    inset-inline-end: 1.4rem;
  }

  .bg-gradient-home-hero {
    --hero-bg-opacity: 0.3;
    object-fit: fill;
    background:
      linear-gradient(
          oklab(from var(--color-base-100) l a b / 30%),
          oklab(from var(--color-base-100) l a b / 30%)
        )
        0px 0px / 100% 100% no-repeat no-repeat,
      radial-gradient(
          circle at 50% 50%,
          var(--color-secondary) 0%,
          rgba(0, 0, 0, 0) 65%,
          rgba(0, 0, 0, 0) 100%
        ) -35% -65% /
        100% 150% no-repeat no-repeat,
      radial-gradient(
          ellipse at 50% 50%,
          var(--color-accent) 0%,
          rgba(0, 0, 0, 0) 65%,
          rgba(0, 0, 0, 0) 100%
        )
        25% 25% / 110% 110% no-repeat no-repeat,
      conic-gradient(
          from 30deg at 0% 0%,
          var(--color-accent) 0%,
          var(--color-error) 45%,
          rgba(0, 0, 0, 0) 70%
        )
        0px 0px / 100% 100% no-repeat no-repeat,
      linear-gradient(-6deg, var(--color-info) 0%, 40%, var(--color-info) 100%)
        0px 0px / 100% 100% no-repeat no-repeat;
  }

  .image-home-hero {
    mask-image: url(/images/image-home-mask.svg);
    mask-repeat: no-repeat;
    -webkit-mask-image: url(/images/image-home-mask.svg);
    -webkit-mask-repeat: no-repeat;
  }
}
