[data-theme="abyss"] {
  color-scheme: dark;
  --page-color-base-100: oklch(20% 0.08 209);
  --page-color-base-200: oklch(15% 0.08 209);
  --page-color-base-300: oklch(10% 0.08 209);
  --page-color-base-content: oklch(90% 0.076 70.697);
  --page-color-primary: oklch(92% 0.2653 125);
  --page-color-primary-content: oklch(50% 0.2653 125);
  --page-color-secondary: oklch(83.27% 0.0764 298.3);
  --page-color-secondary-content: oklch(43.27% 0.0764 298.3);
  --page-color-accent: oklch(43% 0 0);
  --page-color-accent-content: oklch(98% 0 0);
  --page-color-neutral: oklch(30% 0.08 209);
  --page-color-neutral-content: oklch(90% 0.076 70.697);
  --page-color-info: oklch(74% 0.16 232.661);
  --page-color-info-content: oklch(29% 0.066 243.157);
  --page-color-success: oklch(79% 0.209 151.711);
  --page-color-success-content: oklch(26% 0.065 152.934);
  --page-color-warning: oklch(84.8% 0.1962 84.62);
  --page-color-warning-content: oklch(44.8% 0.1962 84.62);
  --page-color-error: oklch(65% 0.198 5 24.22);
  --page-color-error-content: oklch(27% 0.1985 24.22);
  --page-radius-selector: 2rem;
  --page-radius-field: 0.25rem;
  --page-radius-box: 0.5rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 1;
  --page-noise: 0;
}

[data-theme="acid"] {
  color-scheme: light;
  --page-color-base-100: oklch(98% 0 0);
  --page-color-base-200: oklch(95% 0 0);
  --page-color-base-300: oklch(91% 0 0);
  --page-color-base-content: oklch(0% 0 0);
  --page-color-primary: oklch(71.9% 0.357 330.759);
  --page-color-primary-content: oklch(14.38% 0.071 330.759);
  --page-color-secondary: oklch(73.37% 0.224 48.25);
  --page-color-secondary-content: oklch(14.674% 0.044 48.25);
  --page-color-accent: oklch(92.78% 0.264 122.962);
  --page-color-accent-content: oklch(18.556% 0.052 122.962);
  --page-color-neutral: oklch(21.31% 0.128 278.68);
  --page-color-neutral-content: oklch(84.262% 0.025 278.68);
  --page-color-info: oklch(60.72% 0.227 252.05);
  --page-color-info-content: oklch(12.144% 0.045 252.05);
  --page-color-success: oklch(85.72% 0.266 158.53);
  --page-color-success-content: oklch(17.144% 0.053 158.53);
  --page-color-warning: oklch(91.01% 0.212 100.5);
  --page-color-warning-content: oklch(18.202% 0.042 100.5);
  --page-color-error: oklch(64.84% 0.293 29.349);
  --page-color-error-content: oklch(12.968% 0.058 29.349);
  --page-radius-selector: 1rem;
  --page-radius-field: 1rem;
  --page-radius-box: 1rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 1;
  --page-noise: 0;
}

[data-theme="aqua"] {
  color-scheme: dark;
  --page-color-base-100: oklch(37% 0.146 265.522);
  --page-color-base-200: oklch(28% 0.091 267.935);
  --page-color-base-300: oklch(22% 0.091 267.935);
  --page-color-base-content: oklch(90% 0.058 230.902);
  --page-color-primary: oklch(85.661% 0.144 198.645);
  --page-color-primary-content: oklch(40.124% 0.068 197.603);
  --page-color-secondary: oklch(60.682% 0.108 309.782);
  --page-color-secondary-content: oklch(96% 0.016 293.756);
  --page-color-accent: oklch(93.426% 0.102 94.555);
  --page-color-accent-content: oklch(18.685% 0.02 94.555);
  --page-color-neutral: oklch(27% 0.146 265.522);
  --page-color-neutral-content: oklch(80% 0.146 265.522);
  --page-color-info: oklch(54.615% 0.215 262.88);
  --page-color-info-content: oklch(90.923% 0.043 262.88);
  --page-color-success: oklch(62.705% 0.169 149.213);
  --page-color-success-content: oklch(12.541% 0.033 149.213);
  --page-color-warning: oklch(66.584% 0.157 58.318);
  --page-color-warning-content: oklch(27% 0.077 45.635);
  --page-color-error: oklch(73.95% 0.19 27.33);
  --page-color-error-content: oklch(14.79% 0.038 27.33);
  --page-radius-selector: 1rem;
  --page-radius-field: 0.5rem;
  --page-radius-box: 1rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 1;
  --page-noise: 0;
}

[data-theme="autumn"] {
  color-scheme: light;
  --page-color-base-100: oklch(95.814% 0 0);
  --page-color-base-200: oklch(89.107% 0 0);
  --page-color-base-300: oklch(82.4% 0 0);
  --page-color-base-content: oklch(19.162% 0 0);
  --page-color-primary: oklch(40.723% 0.161 17.53);
  --page-color-primary-content: oklch(88.144% 0.032 17.53);
  --page-color-secondary: oklch(61.676% 0.169 23.865);
  --page-color-secondary-content: oklch(12.335% 0.033 23.865);
  --page-color-accent: oklch(73.425% 0.094 60.729);
  --page-color-accent-content: oklch(14.685% 0.018 60.729);
  --page-color-neutral: oklch(54.367% 0.037 51.902);
  --page-color-neutral-content: oklch(90.873% 0.007 51.902);
  --page-color-info: oklch(69.224% 0.097 207.284);
  --page-color-info-content: oklch(13.844% 0.019 207.284);
  --page-color-success: oklch(60.995% 0.08 174.616);
  --page-color-success-content: oklch(12.199% 0.016 174.616);
  --page-color-warning: oklch(70.081% 0.164 56.844);
  --page-color-warning-content: oklch(14.016% 0.032 56.844);
  --page-color-error: oklch(53.07% 0.241 24.16);
  --page-color-error-content: oklch(90.614% 0.048 24.16);
  --page-radius-selector: 1rem;
  --page-radius-field: 0.5rem;
  --page-radius-box: 1rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 1;
  --page-noise: 0;
}

[data-theme="black"] {
  color-scheme: dark;
  --page-color-base-100: oklch(0% 0 0);
  --page-color-base-200: oklch(19% 0 0);
  --page-color-base-300: oklch(22% 0 0);
  --page-color-base-content: oklch(87.609% 0 0);
  --page-color-primary: oklch(35% 0 0);
  --page-color-primary-content: oklch(100% 0 0);
  --page-color-secondary: oklch(35% 0 0);
  --page-color-secondary-content: oklch(100% 0 0);
  --page-color-accent: oklch(35% 0 0);
  --page-color-accent-content: oklch(100% 0 0);
  --page-color-neutral: oklch(35% 0 0);
  --page-color-neutral-content: oklch(100% 0 0);
  --page-color-info: oklch(45.201% 0.313 264.052);
  --page-color-info-content: oklch(89.04% 0.062 264.052);
  --page-color-success: oklch(51.975% 0.176 142.495);
  --page-color-success-content: oklch(90.395% 0.035 142.495);
  --page-color-warning: oklch(96.798% 0.211 109.769);
  --page-color-warning-content: oklch(19.359% 0.042 109.769);
  --page-color-error: oklch(62.795% 0.257 29.233);
  --page-color-error-content: oklch(12.559% 0.051 29.233);
  --page-radius-selector: 0rem;
  --page-radius-field: 0rem;
  --page-radius-box: 0rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 0;
  --page-noise: 0;
}

[data-theme="bumblebee"] {
  color-scheme: light;
  --page-color-base-100: oklch(100% 0 0);
  --page-color-base-200: oklch(97% 0 0);
  --page-color-base-300: oklch(92% 0 0);
  --page-color-base-content: oklch(20% 0 0);
  --page-color-primary: oklch(85% 0.199 91.936);
  --page-color-primary-content: oklch(42% 0.095 57.708);
  --page-color-secondary: oklch(75% 0.183 55.934);
  --page-color-secondary-content: oklch(40% 0.123 38.172);
  --page-color-accent: oklch(0% 0 0);
  --page-color-accent-content: oklch(100% 0 0);
  --page-color-neutral: oklch(37% 0.01 67.558);
  --page-color-neutral-content: oklch(92% 0.003 48.717);
  --page-color-info: oklch(74% 0.16 232.661);
  --page-color-info-content: oklch(39% 0.09 240.876);
  --page-color-success: oklch(76% 0.177 163.223);
  --page-color-success-content: oklch(37% 0.077 168.94);
  --page-color-warning: oklch(82% 0.189 84.429);
  --page-color-warning-content: oklch(41% 0.112 45.904);
  --page-color-error: oklch(70% 0.191 22.216);
  --page-color-error-content: oklch(39% 0.141 25.723);
  --page-radius-selector: 1rem;
  --page-radius-field: 0.5rem;
  --page-radius-box: 1rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 1;
  --page-noise: 0;
}

[data-theme="business"] {
  color-scheme: dark;
  --page-color-base-100: oklch(24.353% 0 0);
  --page-color-base-200: oklch(22.648% 0 0);
  --page-color-base-300: oklch(20.944% 0 0);
  --page-color-base-content: oklch(84.87% 0 0);
  --page-color-primary: oklch(41.703% 0.099 251.473);
  --page-color-primary-content: oklch(88.34% 0.019 251.473);
  --page-color-secondary: oklch(64.092% 0.027 229.389);
  --page-color-secondary-content: oklch(12.818% 0.005 229.389);
  --page-color-accent: oklch(67.271% 0.167 35.791);
  --page-color-accent-content: oklch(13.454% 0.033 35.791);
  --page-color-neutral: oklch(27.441% 0.013 253.041);
  --page-color-neutral-content: oklch(85.488% 0.002 253.041);
  --page-color-info: oklch(62.616% 0.143 240.033);
  --page-color-info-content: oklch(12.523% 0.028 240.033);
  --page-color-success: oklch(70.226% 0.094 156.596);
  --page-color-success-content: oklch(14.045% 0.018 156.596);
  --page-color-warning: oklch(77.482% 0.115 81.519);
  --page-color-warning-content: oklch(15.496% 0.023 81.519);
  --page-color-error: oklch(51.61% 0.146 29.674);
  --page-color-error-content: oklch(90.322% 0.029 29.674);
  --page-radius-selector: 0rem;
  --page-radius-field: 0.25rem;
  --page-radius-box: 0.25rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 0;
  --page-noise: 0;
}

[data-theme="caramellatte"] {
  color-scheme: light;
  --page-color-base-100: oklch(98% 0.016 73.684);
  --page-color-base-200: oklch(95% 0.038 75.164);
  --page-color-base-300: oklch(90% 0.076 70.697);
  --page-color-base-content: oklch(40% 0.123 38.172);
  --page-color-primary: oklch(0% 0 0);
  --page-color-primary-content: oklch(100% 0 0);
  --page-color-secondary: oklch(22.45% 0.075 37.85);
  --page-color-secondary-content: oklch(90% 0.076 70.697);
  --page-color-accent: oklch(46.44% 0.111 37.85);
  --page-color-accent-content: oklch(90% 0.076 70.697);
  --page-color-neutral: oklch(55% 0.195 38.402);
  --page-color-neutral-content: oklch(98% 0.016 73.684);
  --page-color-info: oklch(42% 0.199 265.638);
  --page-color-info-content: oklch(90% 0.076 70.697);
  --page-color-success: oklch(43% 0.095 166.913);
  --page-color-success-content: oklch(90% 0.076 70.697);
  --page-color-warning: oklch(82% 0.189 84.429);
  --page-color-warning-content: oklch(41% 0.112 45.904);
  --page-color-error: oklch(70% 0.191 22.216);
  --page-color-error-content: oklch(39% 0.141 25.723);
  --page-radius-selector: 2rem;
  --page-radius-field: 0.5rem;
  --page-radius-box: 1rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 2px;
  --page-depth: 1;
  --page-noise: 1;
}

[data-theme="cmyk"] {
  color-scheme: light;
  --page-color-base-100: oklch(100% 0 0);
  --page-color-base-200: oklch(95% 0 0);
  --page-color-base-300: oklch(90% 0 0);
  --page-color-base-content: oklch(20% 0 0);
  --page-color-primary: oklch(71.772% 0.133 239.443);
  --page-color-primary-content: oklch(14.354% 0.026 239.443);
  --page-color-secondary: oklch(64.476% 0.202 359.339);
  --page-color-secondary-content: oklch(12.895% 0.04 359.339);
  --page-color-accent: oklch(94.228% 0.189 105.306);
  --page-color-accent-content: oklch(18.845% 0.037 105.306);
  --page-color-neutral: oklch(21.778% 0 0);
  --page-color-neutral-content: oklch(84.355% 0 0);
  --page-color-info: oklch(68.475% 0.094 217.284);
  --page-color-info-content: oklch(13.695% 0.018 217.284);
  --page-color-success: oklch(46.949% 0.162 321.406);
  --page-color-success-content: oklch(89.389% 0.032 321.406);
  --page-color-warning: oklch(71.236% 0.159 52.023);
  --page-color-warning-content: oklch(14.247% 0.031 52.023);
  --page-color-error: oklch(62.013% 0.208 28.717);
  --page-color-error-content: oklch(12.402% 0.041 28.717);
  --page-radius-selector: 1rem;
  --page-radius-field: 0.5rem;
  --page-radius-box: 1rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 0;
  --page-noise: 0;
}

[data-theme="coffee"] {
  color-scheme: dark;
  --page-color-base-100: oklch(24% 0.023 329.708);
  --page-color-base-200: oklch(21% 0.021 329.708);
  --page-color-base-300: oklch(16% 0.019 329.708);
  --page-color-base-content: oklch(72.354% 0.092 79.129);
  --page-color-primary: oklch(71.996% 0.123 62.756);
  --page-color-primary-content: oklch(14.399% 0.024 62.756);
  --page-color-secondary: oklch(34.465% 0.029 199.194);
  --page-color-secondary-content: oklch(86.893% 0.005 199.194);
  --page-color-accent: oklch(42.621% 0.074 224.389);
  --page-color-accent-content: oklch(88.524% 0.014 224.389);
  --page-color-neutral: oklch(16.51% 0.015 326.261);
  --page-color-neutral-content: oklch(83.302% 0.003 326.261);
  --page-color-info: oklch(79.49% 0.063 184.558);
  --page-color-info-content: oklch(15.898% 0.012 184.558);
  --page-color-success: oklch(74.722% 0.072 131.116);
  --page-color-success-content: oklch(14.944% 0.014 131.116);
  --page-color-warning: oklch(88.15% 0.14 87.722);
  --page-color-warning-content: oklch(17.63% 0.028 87.722);
  --page-color-error: oklch(77.318% 0.128 31.871);
  --page-color-error-content: oklch(15.463% 0.025 31.871);
  --page-radius-selector: 1rem;
  --page-radius-field: 0.5rem;
  --page-radius-box: 1rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 0;
  --page-noise: 0;
}

[data-theme="corporate"] {
  color-scheme: light;
  --page-color-base-100: oklch(100% 0 0);
  --page-color-base-200: oklch(93% 0 0);
  --page-color-base-300: oklch(86% 0 0);
  --page-color-base-content: oklch(22.389% 0.031 278.072);
  --page-color-primary: oklch(58% 0.158 241.966);
  --page-color-primary-content: oklch(100% 0 0);
  --page-color-secondary: oklch(55% 0.046 257.417);
  --page-color-secondary-content: oklch(100% 0 0);
  --page-color-accent: oklch(60% 0.118 184.704);
  --page-color-accent-content: oklch(100% 0 0);
  --page-color-neutral: oklch(0% 0 0);
  --page-color-neutral-content: oklch(100% 0 0);
  --page-color-info: oklch(60% 0.126 221.723);
  --page-color-info-content: oklch(100% 0 0);
  --page-color-success: oklch(62% 0.194 149.214);
  --page-color-success-content: oklch(100% 0 0);
  --page-color-warning: oklch(85% 0.199 91.936);
  --page-color-warning-content: oklch(0% 0 0);
  --page-color-error: oklch(70% 0.191 22.216);
  --page-color-error-content: oklch(0% 0 0);
  --page-radius-selector: 0.25rem;
  --page-radius-field: 0.25rem;
  --page-radius-box: 0.25rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 1px;
  --page-depth: 0;
  --page-noise: 0;
}

[data-theme="cupcake"] {
  color-scheme: light;
  --page-color-base-100: oklch(97.788% 0.004 56.375);
  --page-color-base-200: oklch(93.982% 0.007 61.449);
  --page-color-base-300: oklch(91.586% 0.006 53.44);
  --page-color-base-content: oklch(23.574% 0.066 313.189);
  --page-color-primary: oklch(85% 0.138 181.071);
  --page-color-primary-content: oklch(43% 0.078 188.216);
  --page-color-secondary: oklch(89% 0.061 343.231);
  --page-color-secondary-content: oklch(45% 0.187 3.815);
  --page-color-accent: oklch(90% 0.076 70.697);
  --page-color-accent-content: oklch(47% 0.157 37.304);
  --page-color-neutral: oklch(27% 0.006 286.033);
  --page-color-neutral-content: oklch(92% 0.004 286.32);
  --page-color-info: oklch(68% 0.169 237.323);
  --page-color-info-content: oklch(29% 0.066 243.157);
  --page-color-success: oklch(69% 0.17 162.48);
  --page-color-success-content: oklch(26% 0.051 172.552);
  --page-color-warning: oklch(79% 0.184 86.047);
  --page-color-warning-content: oklch(28% 0.066 53.813);
  --page-color-error: oklch(64% 0.246 16.439);
  --page-color-error-content: oklch(27% 0.105 12.094);
  --page-radius-selector: 1rem;
  --page-radius-field: 2rem;
  --page-radius-box: 1rem;
  --page-size-selector: 0.25rem;
  --page-size-field: 0.25rem;
  --page-border: 2px;
  --page-depth: 1;
  --page-noise: 0;
}
